# Text

# Data Images
*.png
*.jpg

# Data Videos
*.mp4
*.avi
*.h264

# Zip files
*.gz

# PyCharm
.idea/
*.npy

*.DS_Store
*.pyc
sandbox/PanTrack/__pycache__/
sandbox/PanTrack/models/
sandbox/PanTrack/src/__pycache__/
sandbox/pokedex-find-screen-part-1/pyimagesearch/__pycache__/

# Configuration File
/cfg/class_cfg.txt
/cfg/cfg.txt

# CSV Files
*.csv
